.badge {
    background-color: tomato;
    display: flex;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    color: white;
    font: 400 13px arial;
}

.badge-dot {
    display: block;
    width: 5px;
    height: 5px;
    background-color: tomato;
    border-radius: 50%;
}