.icon-row {
    display: flex;
    justify-content: space-between;
    margin: 50px 30px;

}

.icon-row__icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80px;
    height: 80px;
}

.icon-row__icon i {
    font-size: 35px;
}

.icon-row__icon span {
    margin-top: 11px;
}

.icon-row__hidden {
    visibility: hidden;
}