.nav__box {
    background: red;
    width: 100vw;
}

.nav {
    position: fixed;
    bottom: 0;
    width: 100vw;
    background-color: #F9F9FA;
    padding: 20px 50px;
    box-sizing: border-box;
    border-top: var(--main-border);

}

.nav__list {
    display: flex;
    justify-content: space-between;
}

.nav__link {
    position: relative;
}

.nav__notification {
    position: absolute;
    left: 15px;
    bottom: 14px;
}
.nav__btn i {
    font-size: 25px;
    color: #2F363E;
}

.nav__notification-dot {
    position: absolute;
    left: 25px;
}