.screen-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0 15px;
    padding: var(--horizontal-space);
}

.screen-header__title {
    font-size: 32px;
    font-weight: 600;
}

.screen-header__icons span {
    margin-left: 25px;
}

.friends-screen {
    padding: 0px var(--horizontal-space);
}

.badge-dot {
    position: relative;
    top: -20px;
    
}