#friends-display-link {
    text-align: center;
    display: block;
    background-color: #FAFAFA;
    padding: 15px 0;
    font-size: 15px;
}

#friends-display-link i {
    color: rgba(0, 0, 0, 0.15);
    margin: 0 3px;
}